div {
  text-align: center;
}
#wrapper {
  width: 450px;
  margin: 0 auto;
}
#submit-text {
  position: relative;
  float: left;
  background-color: rgb(216, 216, 216);
  padding: 20px;
  border-radius: 10px;
}
#todo-list {
  position: relative;
  float: right;
  background-color: gold;
  padding: 20px;
  border-radius: 10px;
}
