<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <div *ngIf="content">
    {{content}}
  </div>
  <input type="text" [(ngModel)]="content" />
  <button (click)="update(content)">Enter</button>
</div>

<div *ngFor="let todo of todoList; let indexOfelement=index;">
  <span>{{todo.content}}</span>
  <input type="checkbox" (click)="toDone(indexOfelement)" />
</div>

<div>
  <button (click)="submit()">To submit to Api</button>
  Will display Final Data in the console
</div>
