<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<section>
  <div id="wrapper">
    <div id="submit-text">
      <div *ngIf="content">
        {{content}}
      </div>
      <input type="text" [(ngModel)]="content" />
      <button (click)="update(content)">Enter</button>
      <p>
        <button (click)="submit()">
          To submit (Display data in the console)
        </button>
      </p>
    </div>
    <div id="todo-list">
      <div *ngFor="let todo of todoList; let indexOfelement=index;">
        <span>{{todo.content}}</span>
        <input type="checkbox" (click)="toDone(indexOfelement)" />
      </div>
    </div>
  </div>
</section>
